.bootstrap-tagsinput {
    width: 100%;
}
.label-info{
    background-color: #5bc0de;
    border-radius: 5px;
    color: red !important;
    font-weight: bold;
}

.admin {
    min-height: 100vh;
}

.admin-navbar{
    width: 15vw;
}

.admin-navbar a {
    color: white;
    text-decoration: none;
}
.admin-navbar a:hover {
    color: red;
}