{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center text-danger mt-3">Ajouter un produit</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <div class="text-center">
            <button class="btn btn-danger btn-lg">Ajouter</button>
        </div>
    {{ form_end(form) }}
{% endblock %}