{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center text-danger">{{ product.name }}</h1>
    <p class="text-center h4">Prix : {{ product.price / 10 }}</p>
    <p class="text-center h5">{{ product.description }}</p>
{% endblock %}